.square-button {
    width: 30px;
    height: 30px;
    border: 0;
    border: 1px solid #1D1F22;
    background-color: #ffffff;
    transition: 0.3s;
    color: #1D1F22;
}
.square-button:hover {
    background-color: #1D1F22;
    color: #ffffff;
}